@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&display=swap");

body {
    background-color: var(--bg-primary);
    color: var(--font);
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    min-height: 100vh;
}

body > div {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 24px;
    max-width: 1000px;
    align-items: center;
}

h1 {
    font-size: 2rem;
    padding-top: 16px;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: .95rem;
}

h1, h2 {
    font-weight: 800;
    margin: 8px 0 16px 0;
    letter-spacing: -0.1rem;
    color: var(--font);
}

 p {
     margin: 0;
     font-size: .9rem;
 }

 .content > .container {
     max-width: 350px;
 }

.container {
    background-color: var(--bg-card);
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 1rem 1.5rem;
    position: relative;
    min-height: 275px;
}

.container.container--preview {
    margin-bottom: 24px;
}

.container.container--skeleton h3, 
.container.container--skeleton figcaption {
    background-color: var(--bg-disabled);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-size: 40px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
}

.container.container--skeleton h3 {
    min-height: 28px;
    border-radius: 4px;
    display: block;
}

.container.container--skeleton figcaption {
    min-height: 72px;
    border-radius: 4px;
}

.description {
    padding: 0 16px;
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}

.form-item label {
    font-weight: 600;
}

.form-item input, 
.form-item select {
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-top: 8px;
    background-color: transparent;
    border: 1px solid #585d8a14;
    font-family: "Inter", sans-serif;
    color: var(--font);
}

.form-item input::placeholder, 
.form-item select::placeholder {
    color: #b3b3b3;
}

.form-item > .form-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 16px;
}

.form-item.form-item--submit {
    flex-direction: row;
    gap: 8px;
}

.form-item.form-item--submit > input:first-of-type {
    background-color: transparent;
    color: var(--font);
    border: 1px solid var(--font);
}

.form-item.form-item--submit > input:first-of-type[disabled] {
    background-color: transparent;
    color: #c7d1d6;
    border: 1px solid #c7d1d6;
}

.form-item .form-submit {
    background-color: var(--primary);
    color: var(--bg-card);
    font-weight: 700;
    font-size: 1rem;
    padding: 0.75rem 0;
    cursor: pointer;
    border: inherit;
    transition: 0.25s ease;
    letter-spacing: -0.05rem;
    margin: 0;
    transition: .2s ease;
    flex-grow: 1;
}

.form-item input[disabled],
.form-item select[disabled] {
    background-color: var(--bg-disabled);
    color: #030620c5;
    cursor: initial;
    pointer-events: none
}

form.form--disabled .tag {
    pointer-events: none;
}

form button {
    transition: .3s ease;
}

form button[disabled] {
    cursor: initial;
    pointer-events: none;
    color: #c7d1d6;
    background-color: transparent;
}

form button {
    display: block;
    margin: auto 0 auto auto;
    cursor: pointer;
    border: inherit;
    color: var(--primary);
    padding: .5rem 1rem;
    font-weight: 600;
    border-radius: .5rem;
    background-color: transparent;
}

.tag-container {
    background-color: #c5c7e20f;
    padding: 1rem 0.5rem;
    border-radius: .5rem;
    margin-bottom: 16px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    min-height: 28px;
    display: flex;
    align-items: center;
}

.tag-container.tag-container--empty {
    flex-direction: column;
}

.tag-container.tag-container--empty > svg {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: var(--primary);
}

.tag-container.tag-container--empty > p {
    text-align: center;
    font-weight: 600;
    margin: 0;
    flex-grow: 1;
}

.tag {
    background: var(--bg-card);
    color: var(--font);
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    font-size: .85rem;
    font-weight: 600;
    margin: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.tag > svg {
    margin: 0 8px 0 0;
    font-size: 1.15rem;
    color: var(--primary);
}

.preview {
    margin: 0 auto;
}

.preview-img {
    position: relative;
    width: 100%;
    height: 175px;
}

.preview-img img {
    object-fit: cover;
}

.preview-details h3 {
    margin: .5rem 0;
}

.preview-details figcaption {
    font-size: .8rem;
}

.preview-details a {
    text-transform: uppercase;
    display: block;
    margin: 0.5rem 0;
    color: var(--font);
    text-decoration: none;
    font-weight: 800;
    font-size: .75rem;
}

.generated {
    margin: 1rem 0;
}

.generated > div {
    min-height: 175px;
}

.generated > div {
    background: #1b1d2be3 !important;
}

.generated > div > span {
    background: none !important;
}

.generated code {
    font-size: .8rem !important;
    font-weight: 600 !important;
}

.token {
    color: var(--accent) !important;
}

.token.attr-value {
    color: #fff !important;
}